* {
  margin: 0px;
  margin-bottom: 40px;
}

.app-bg {
  background-color: #f2f2f2;
  height: 100%;
}

.job-post-container {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  gap: 0px 20px;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 0px;
}

.job-card {
  margin: 5px;
  border: 1px solid #979797;
  min-height: 500px;
  max-height: 500px;
  overflow: scroll;
  padding: 5px;
  border-radius: 20px;
  color: white;
  background-color: black;
}

.job-card p {
  margin-top: 20px;
  text-align: center;
  font-size: 16px;
}

.jobDetail {
  margin: 10px;
}

.job-card li {
  list-style-type: none;
}

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage h1 {
  margin-top: -20px;
  margin-bottom: 20px;
  font-size: 40px;
}

.homepage-p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}

.search-div {
  margin-bottom: 0px;
}

.search-bar {
  margin-bottom: 15px;
}

.see-more-button {
  font-size: 20px;
  border: 1px solid #838383;
  border-radius: 5px;
  width: 200px;
  height: 40px;
}

.see-more-button:hover {
  background-color: #b5b5b5;
  cursor: pointer;
}

.job-title {
  margin-top: 5px;
  margin-bottom: 0px;
}

select {
  font-size: 20px;
  margin: 0px 5px;
}

input {
  font-size: 18px;
  margin: 0px 5px;
}

.search-bar button {
  font-size: 18px;
  margin: 0px 5px;
}

.job-container {
  border-radius: 10px;
}
.user-container {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.user-container img {
  width: 50px;
  margin-right: 10px;
}

.user-container p u {
  color: blue;
}

.select-box {
  padding: 1rem;
  width: 14rem;
  height: 3.5rem;
  border-radius: 1rem;
  border: none;
  transition: 0.3s;
}

.select-box:hov {
  background-color: white;
}

.search-button {
  height: 3.5rem;
  width: 10rem;
  border-radius: 1rem;
  border: none;
  color: white;
  background-color: black;
  transition: 0.3s;
}

.search-button:hover {
  background-color: rgb(102, 102, 102);
}

.logo-image-blue {
  width: 5rem;
}
